@model MrCMS.Web.Apps.Glossaries.Entities.GlossaryItem
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "GlossaryItems", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Glossary item
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-danger btn" value="Delete" />
            </span>
        </legend>
        @Html.HiddenFor(item => item.Id)
        <p>Are you sure you want to delete glossary item @Model.Term?</p>
    </fieldset>
}